Package: com.iosdump.switch
Name: Switch
Depends: mobilesubstrate, preferenceloader
Version: 1.1.0
Architecture: iphoneos-arm
Description: 全局多风格开关 (支持日夜 & 液态玻璃)
Maintainer: iosdump
Author: Gemini
Section: Tweaks
